{% extends "base.html" %}

{% block content %}

<div id="form_body" style="margin:20px;">
    <table class="table">
        <tr>
            <td style="float: left"><a href="{% url 'home' %}" class="btn btn-primary" role="button">Back</a></td>
            <td style="float: right">
                {% if export_all %}
            <a href="javascript:void(0)" class="btn btn-primary" role="button"  data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Export..." id="export_all_excel_a" onclick="javascript: ajaxExportExcels('all');">Export All to Excel</a>
            {% endif %}</td>
        </tr>
    </table>
    </div>
    <div class="table-responsive">
	<table class="table table-bordered usr_def_tbl">
	    <thead class="thead-inverse">
            <tr style="font-size:14px; text-align: center;">
              <th> </th>
              <th>Qty</th>
              <th>Part Number</th>
              <th>NonFIO SKU</th>
              <th>Description</th>
              <th>Cost</th>
              <th>Ex.Cost</th>
              <th>MSRP</th>
              <th>ex.MSRP</th>
            </tr>
        </thead>
        <tbody>
            {% for s in smarybuy_list %}
            
            <!-- this is demo_list sections -->
            <tr>
                <td>DEMO</td>
                <td>{% if  s.demo_qty %}{{ s.demo_qty }}{% endif %} </td>
                <td>{% if  s.demo_part_number %}{{ s.demo_part_number }}{% endif %} </td>
               <td>{% if  s.demo_nonfio_sku %}{{ s.demo_nonfio_sku }}{% endif %} </td>
                <td>{% if  s.demo_desc %}{{ s.demo_desc }}{% endif %} </td>
                <td>{% if  s.demo_cost %}{{ s.demo_cost }}{% endif %} </td>
                <td>{% if  s.demo_ex_cost %}{{ s.demo_ex_cost }}{% endif %} </td>
                <td>{% if  s.demo_msrp %}{{ s.demo_msrp }}{% endif %} </td>
                <td>{% if  s.demo_ex_msrp %}{{ s.demo_ex_msrp }}{% endif %}</td>
            </tr>
            <tr>
                <td colspan="7"></td>
                 <td  style="text-align:right">
                    <a href="javascript:void(0)" class="btn btn-primary part_num_flag" role="button" onclick="javascript: ajaxExportExcels('{{ s.pk }}');" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Export..." id="sgl_export_{{ s.pk }}" >Export to Excel</a>
               </td>
                <td style="text-align:right">
                    <a href="{% url 'demo_edit_id' pk=s.pk%}" class="btn btn-primary" role="button" value="{{ s.pk }}">Edit</a>
               </td>
            </tr>
            {% endfor %}
        </tbody>
        
	<p></p>
	</table>
	
</div>

<script type="text/javascript">

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function ajaxExportExcels(pn_id){
    if(pn_id == 'all'){
        var post_url = '/excel_export/exportall/';
        location.replace(post_url);
    }
    else{
        var post_url = '/excel_export/export/';
        location.replace(post_url + pn_id);
    }

}  

</script>
{% endblock content %}
